@{
    Layout = null;

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CaptivePortal</title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <link href="~/Style/CheckBox.css" rel="stylesheet" />
    <link href="~/Style/RequiredField.css" rel="stylesheet" />
</head>

<body class="nav-md" onload="onload()">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />
                                    <form></form>
                                    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                        @if (TempData["Success"] != null)
                                        {
                                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                                        }

                                        @using (Html.BeginForm("StorePromotionalMaterial", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @*<form>
                                            *@
                                            <div class="form-group">
                                                <label for="Success_Page_Option" class="control-label col-md-3 col-sm-3 col-xs-12 required-field">Success Page Option:</label>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control" name="SuccessPageOption" id="SuccessPageOption" required onchange="OnChange(this.form.SuccessPageOption);">
                                                        <option value="Display">Display</option>
                                                        @*<option value="Supress">Supress</option>*@
                                                        <option value="Route to URL">Route to URL</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-group" style="display:none">
                                                <label for="SiteId" class="control-label col-md-3 col-sm-3 col-xs-12">Site Id:</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="SiteId" class="form-control col-md-7 col-xs-12" type="text" name="SiteId" value="">

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="Web_Page_URL" class="control-label col-md-3 col-sm-3 col-xs-12">Web Page URL:</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="Web_Page_URL" class="form-control col-md-7 col-xs-12" type="text" name="WebPageURL">

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="OptionalPicture" class="control-label col-md-3 col-sm-3 col-xs-12">Optional Picture:</label>


                                                <div class="col-md-3">
                                                    <input id="OptionalPicture" readonly class="form-control col-md-3" type="text" name="OptionalPictureForSuccessPage">
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="browse" type="file" name="OptionalPicture" style="display:none" onChange="Handlechange();">
                                                    <input type="button" class="btn btn-success" value="Browse" id="OptionalPicture" name="OptionalPicture" onclick="HandleBrowseClick();" />
                                                </div>

                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <input type="submit" id="Save" class="btn btn-success" value="Save" />
                                                </div>
                                            </div>
                                            @*
                                                </form>*@
                                        }
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>




        <!-- /page content -->
        <!-- footer content -->
        <footer>

            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    </div>


    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="../vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="../vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="../vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

</body>
</html>

<script type="text/javascript">

    var siteId = localStorage.getItem("SiteId");
    document.getElementById('SiteId').value = siteId;
    var siteName = localStorage.getItem("SiteName");
    document.getElementsByTagName('form')[0].innerHTML = siteName;



    function HandleBrowseClick() {
        var fileinput = document.getElementById("browse");
        fileinput.click();
    }

    function Handlechange() {
        var fileinput = document.getElementById("browse");
        var textinput = document.getElementById("OptionalPicture");
        textinput.value = fileinput.value;
    }


    function OnChange(dropdown)
{
    var myindex  = dropdown.selectedIndex
    var SelValue = dropdown.options[myindex].value

    if(SelValue=="Route to URL")
    {
    document.getElementById("Web_Page_URL").required = true;
    }
    else
    {
    document.getElementById("Web_Page_URL").required = false;
    }
}

</script>







