<br />
<br />
<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">Address Line 1:</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter user name">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FirstName">Custom field 1 :   Field Name</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter user name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">Address Line 2 :</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter first name">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FirstName">Custom field 2 :   Field Name</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter first name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">County :</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter last name">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FirstName">Custom field 3 :   Field Name</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="text" placeholder="Enter last name">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Postcode :</label>
        <div class="col-md-3">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="UserPassword">
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pwd">Customer Field 4 :   Field Name</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="pwd" name="UserPassword">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="mobileNumber"></label>
        <div class="col-md-3">
        </div>
        <label for="auto-login" class="control-label col-md-3 col-sm-3 col-xs-12">Customer Field 5 :   Field Name</label>
        <div class="col-md-3 ">
            <input class="form-control col-md-7 col-xs-12" type="checkbox" id="checkbox1" name="AutoLogin" style="width:30px;">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-sm-2" for="mobileNumber"></label>
        <div class="col-md-3">
        </div>
        <label for="auto-login" class="control-label col-md-3 col-sm-3 col-xs-12">Customer Field 6 :   Field Name</label>
        <div class="col-md-3 ">
            <input class="form-control col-md-7 col-xs-12" type="checkbox" id="checkbox1" name="AutoLogin" style="width:30px;">
        </div>
    </div>

    <br />
    <br />

    <div class="form-group">
        <div class="col-md-6">
        </div>
        <div class="col-md-4">
            <input type="button" id="updateUser" class="btn btn-success pull-right" onclick="UpdateUser()" value="Update User" />
        </div>
    </div>
</div>