<br />
<br />
<div class="form-horizontal" style="margin-right: 40%;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <input id="macAddress" class="form-control col-md-2" type="text" name="MacAddress">
            </div>
            <div class="col-md-4">
                <input type="submit" id="addMacAddress" class="btn btn-success" value="Add Mac Address" />
            </div>
            <div class="col-md-4">
                <input type="submit" id="deleteMacAddress" class="btn btn-danger pull-right" value="Delete Mac Address" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <div class="row container-fluid">

        <div style="top:35px;">
            <table class="table table-hover table-striped table-responsive" id="cpTable">
                <thead>
                    <tr>
                        <th style="display:none;">
                            UserId
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            Mac Address

                        </th>
                        <th>
                            Device Type
                        </th>
                        <th>
                            Last Login
                        </th>
                        <th>
                            Session Length
                        </th>
                        <th>
                            Data used
                        </th>
                    </tr>
                </thead>
              
                    <tbody class="pointer" id="DeviceDetails">
                        
                            <tr>
                                <td style="display:none;" id="UserId">
                                   
                                </td>
                                
                                <td>
                                    <input class="form-control col-md-7 col-xs-12" type="checkbox" id="cbMacAddress" name="MacAddress" style="width:30px;">
                                </td>

                                <td>
                                </td>

                                <td>
                                </td>

                                <td>
                                </td>
                            </tr>
                       
                    </tbody>
              
            </table>

        </div>
    </div>

</div>
