<div class="col-md-3 left_col">
    <div class="left_col scroll-view">


        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/Images/images.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Admin</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="Home"><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li>
                        <a><i class="fa fa-cog fa-fw"></i> Manage Site <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="ConfigureSite" onclick="location.href = this.href + '?siteId=' + siteId; return false;">Configure site</a></li>
                            <li><a href="ManageUser" onclick="location.href = this.href + '?siteId=' + siteId; return false;">Manage User</a></li>
                            <li><a href="CreatePromotionalMaterial" onclick="location.href = this.href + '?siteId=' + siteId; return false;">Manage promotion</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-desktop"></i>View Dashboard <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.Action("Index","Admin")">WiFi Summary</a></li>
                            <li><a href="@Url.Action("LocationDashBoard","Admin")">Location dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-users"></i> User Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="UserDetails" onclick="location.href = this.href + '?siteId=' + siteId; return false;">View Users</a></li>
                            <li><a href="Register">Register User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-signal"></i>Manage DashBoard <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#" onclick="uploadFile()">Upload File</a></li>
                            <li><a href="#" onclick="ViewLocations()">Location Mapping</a></li>
                        </ul>
                    </li>

                    <li><a onclick="logOut()"><span class="glyphicon glyphicon-off"></span>   Logout</a></li>

                </ul>
            </div>
            <div class="menu_section">

                <ul class="nav side-menu"></ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <!-- /menu footer buttons -->
    </div>
</div>
<script>
    var siteId = localStorage.getItem("SiteId");
    //function configureSite() {
    //    var siteId = localStorage.getItem("SiteId");
    //    window.location.href = "/Admin/ConfigureSite?SiteId=" + siteId
    //}
    //function manageUser() {
    //    var siteId = localStorage.getItem("SiteId");
    //    window.location.href = "/Admin/ManageUser?SiteId=" + siteId
    //}

    //function viewUser()
    //{
    //    var siteId = localStorage.getItem("SiteId");
    //    window.location.href = "/Admin/UserDetails?SiteId=" + siteId
    //}

    function uploadFile() {
        window.location.href = "/Admin/UploadFile"
    }

    function ViewLocations()
    {
        window.location.href = "/Admin/Locations"
    }

    function logOut()
    {
        window.location.href = "/Admin/LogOff"
    }


</script>