<br />
<br />
<div class="form-horizontal" style="margin-right: 40%;">
    <div class="form-group">
        <label for="mobile-number" class="control-label col-md-3">Password:</label>
        <div class="col-md-5">
            <input id="mobile-number" class="form-control col-md-2" type="text" name="MobileNumber">
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="control-label col-md-3">Status:</label>
        <div class="col-md-5">
            <input id="gender" class="form-control col-md-2" type="text" name="Gender">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <input type="submit" id="update" class="btn btn-success" value="Upadate Password" />
        </div>
    </div>

    <div class="form-group">
        <label for="Auto login" class="control-label col-md-3 col-sm-3 col-xs-12">Auto login:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control col-md-7 col-xs-12" type="checkbox" id="checkbox1" name="Autologin" style="width:30px;">
        </div>
    </div>
</div>
